<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Mini Wordpress</title>
</head>
<div id="app"> 
<header class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row ">
    <div class="navbar-nav">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a id="homeBtn" class="nav-link active" href="#!">
                    <img src="./image/logo.png" alt="Logo">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a @click.prevent="page_reader=true, page_input=false, page_search=false, page_edit=false" id="readerBtn" class="nav-link " href="#!">
                    <img src="./image/read.png" alt="read">
                    Reader
                </a>
            </li>
        </ul>
    </div>
    <div class="ml-md-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#!" id="write" class="nav-link" @click.prevent="page_input=true, page_search=false, page_reader=false, page_edit=false">
                    <i class="fas fa-pencil-alt"></i>
                    Write
                </a> </li>
            <li>
                <a id="myProfileBtn" href="#!" class="nav-link">
                    <i class="fas fa-portrait"></i>
                    myPorfile
                </a>
            </li>
            <li>
                <a href="#!" class="nav-link">
                    <i class="far fa-bell"></i>
                    Notif
                </a>
            </li>
            <li>
                <a href="#!" class="nav-link" @click.prevent="page_input=false, page_reader=false, page_edit=false, page_search=true">
                    <i class="fa fa-search"></i>
                    Search
                </a>
            </li>

        </ul>
    </div>
</header>

<body>
    <div class="row">

        <div id="sidebar-wrapper" class="left-sidebar-wrapper bg-dark border col-md-2">
            <ul class="nav flex-column">
                <li>
                    <a href="#!" class="nav-link">
                        <i class="fas fa-desktop"></i>
                        View Site
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link">
                        <i class="far fa-chart-bar"></i>
                        Stats
                    </a>
                </li>
                <li class="nav-item">
                    <a href=" #!" class="nav-link">
                        <i class="fas fa-history"></i>
                        Activity
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link">
                        <i class="far fa-calendar-check"></i>
                        Plan
                    </a>
                </li>
                <li>
                    <a href="#!" class="nav-link">
                        <i class="fas fa-file-word"></i>
                        Site Pages
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link">
                        <i class="far fa-image"></i>
                        Media
                    </a>
                </li>
            </ul>
        </div>


        <div id="sidebar-wrapper" class="col blog-main  ">
            <!-- search start-->
            <div id="" class="col-lg-12" v-if="page_search">
                    <input v-model="title_search" 
                        class="form-control form-control-sm mr-3 w-75" 
                        type="text" 
                        placeholder="Search article" 
                        name="search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <div class="blog-post col-lg-12 border" v-for="article in filterTitle">
                        <div>
                            <h2>{{ article.title }}</h2>
                            <p class="blog-post-meta">Published {{ article.created_at }}</p>
                            <hr>
                            <p>{{ article.content }}</p>                            
                        </div>
                        <button class="btn btn-secondary" @click.prevent="editArtikel(article._id), page_edit=true, page_search=false, page_reader=false">Edit</button>
                        <button class="btn btn-danger" @click.prevent="deleteArtikel(article._id)">Delete</button>
                    </div>

            </div>
            <!-- search end-->    

            <div class="col-lg-11">
                <!-- input artikel start -->
                <div class="container-artikel col-lg-12 border" v-if="page_input">
                    <form method="post">
                        <br>
                        <h2>Write Article</h2>
                        <br>
                        <input v-model="title" class="form-control" type="text" placeholder="Title..."><br>
                        <textarea class="form-control" v-model="content" rows="5" placeholder="Description..."></textarea>
                        <!-- <div id="summernote">Hello Summernote</div> -->
                        <button class="btn btn-success" @click.prevent="createArtikel()" type="submit">Submit</button>
                    </form>
                </div>
                <!-- input artikel end -->

                <!-- edit artikel start -->
                <div class="container-artikel col-lg-12 border" v-if="page_edit">
                    <form method="post">
                        <br>
                        <h2> Edit Article</h2>
                        <br>
                        <input class="form-control" type="text" v-model="title"><br>
                        <textarea class="form-control" v-model="content" rows="5" >{{ content }} </textarea>
                        <!-- <div id="summernote">Hello Summernote</div> -->
                        <button class="btn btn-success" @click.prevent="updateArtikel(id), page_reader=false, page_search=false, page_edit=true, page_input=false" type="submit">Update</button>
                    </form>
                </div>
                <!-- edit artikel end -->

                <!-- artikel start -->
                <div id="artikel" class="container-artikel col-lg-12 border" v-if="page_reader">
                    <div class="blog-post col-lg-12 border" v-for="article in articles">
                        <div>
                            <h2>{{ article.title }}</h2>
                            <p class="blog-post-meta">Published {{ article.created_at }}</p>
                            <hr>
                            <p>{{ article.content }}</p>                            
                        </div>
                        <button class="btn btn-secondary" @click.prevent="editArtikel(article._id), page_edit=true, page_reader=false">Edit</button>
                        <button class="btn btn-danger" @click.prevent="deleteArtikel(article._id)">Delete</button>
                    </div>
                </div>
                <!-- artikel end -->
            </div>
        </div>
    </div>
    </div>
</div>
    <!-- <script src="./js/main.js"></script> -->
    <script src="./js/index.js"></script>
</body>
<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright SukmaRangga
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</html>